html{
    /* background-color: rgb(54,69,79); */
    background-color: beige;
}

body{
    display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;

}

img{
    width: 100%;
    height: 100%;

}
button{
    cursor: pointer;
}
button, #pokemonName{
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top:25%;
}
button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
} 
button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

canvas{
    height: 350px;
    width: 350px;
}

#pkmn{
    width: 200px;
    margin-top: 25px;
}

.header{
    margin-right: 20px;
}

.easterEgg:hover {
    transform: scaleX(-1);
}

.info{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pokemonImage{

    height: 200px;
    width: 200px;
}

.border{
    border: 3px solid #000000;
}

.Pkmn_name{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -5%;
}

.moreInfo{
    display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
}